.main-wrapped {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 100vh;
    border: 4px solid aqua;
}

.landing-page {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 771px;
    margin-top: 60px;
    /* border: 4px solid red; */
}

.navigator-bar {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 68px;
    padding: 0px, 100px, 0px, 100px;
    justify-content: space-between;
    gap: 206px;
    /* border: 4px solid green; */
}

.frame9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219.54px;
    height: 56px;
    margin-top: 6px;
    margin-left: 100px;
    /* border: 4px solid purple; */
}

.frame10 {
    display: flex;
    flex-direction: row;
    width: 811px;
    height: 68px;
    font-family: Space;
    font-size: 20px;
    color: black;
    line-height: 28px;
    gap: 40px;
    /* border: 4px solid blue; */
}

.header {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 515px;
    margin-top: 60px;
    gap: 70px;
    /* border: 4px solid pink; */
}

.frame13 {
    display: flex;
    flex-direction: column;
    width: 531px;
    height: 481px;
    margin-left: 100px;
    gap: 35px;
    /* border: 4px solid blue; */
}

.title13 {
    display: flex;
    text-align: left;
    width: 531px;
    height: 231px;
    /* border: 4px solid blue; */
}

.title13 h1{
    margin-top: 0px;
    margin-bottom: auto;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 76.56px;
}

.text13 {
    display: flex;
    text-align: left;
    width: 498px;
    height: 112px;
    /* border: 4px solid blue; */
}

.text13 p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.button13 {
    
}